
.summary {
    margin-top: 24px;
    margin-bottom: 24px;
}

.summary h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}

.summary h3 {
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 2px;
}
