@import '~antd/dist/antd.css';

@font-face {
  font-family: CMUSS;
  src:
    local('CMU Sans Serif'),
    url("./assets/fonts/cmunss.eot"),
    url("./assets/fonts/cmunss.ttf") format('truetype');
  /*for CSS3*/
}


* {
  font-family: CMUSS;
}
